In [27]:
import pandas as pd
import numpy as np
import sklearn as sk
import os

CHACHE = "./output/"
if not os.path.exists(CHACHE):
    os.makedirs(CHACHE)

In [28]:
DATAFILE= "archive/test.csv"
assert os.path.exists(DATAFILE),"Datafile Not found"
dataframe = pd.read_csv(DATAFILE)

In [29]:
dataframe.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [30]:
def save_as_html(dataframe:pd.DataFrame,filename="temp"):
    dataframe.to_html(os.path.join(CHACHE, f"{filename}.html"))
    return None

In [31]:
description = dataframe.describe()
display(description)
save_as_html(description,"01description")

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,372610,372610,372610,372610,372610,372610
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,710,43806,337104,43806,710,710

In [37]:
info_ = dataframe.info()
save_as_html(info_)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373700 entries, 0 to 373699
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          372610 non-null  object
 1   Product           372610 non-null  object
 2   Quantity Ordered  372610 non-null  object
 3   Price Each        372610 non-null  object
 4   Order Date        372610 non-null  object
 5   Purchase Address  372610 non-null  object
dtypes: object(6)
memory usage: 17.1+ MB

AttributeError: 'NoneType' object has no attribute 'to_html'

In [32]:
def create_html_tag(tag,text):
    return f"<{tag}>{text}</{tag}>"


def get_all_tables(dir=CHACHE):
    for table in os.listdir(dir):
        heading = table.split(".")[0][2:]
        html = create_html_tag("h2",heading)
        fh = open(os.path.join(CHACHE,table),"r+",encoding="utf-8")
        html = f"{html} {fh.read()}"
        fh.close()
    return html

def create_report(outfile_path=f"{CHACHE}/REPORT.html"):
    html = get_all_tables(CHACHE)
    fh = open(outfile_path,"w",encoding="utf-8")
    fh.write(html)
    fh.close()



create_report()